<header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light mask-custom shadow-0">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/img/navLogo.png" height="90px" alt="logo" />
            </a>
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                    data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/TimeCardApproval">TimeCards</a>
                    </li>

                    <%if(!loggedIn){%>
                    <li class="nav-item">
                        <a class="nav-link" href="/apply">WorkHere</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/login">Login</a>
                    </li>
                    <%}%>
                    <%if(loggedIn){%>
                        <li class="nav-item">
                            <a class="nav-link" href="/auth/logout">Logout</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/employee">Workers</a>
                        </li>
                    <%}%>
                </ul>
                <ul class="navbar-nav d-flex flex-row">

                    <li class="nav-item me-3 me-lg-0">
                        <a class="nav-link" href="tel:480-252-4543">
                            <i class="fas fa-phone"></i>
                        </a>
                    </li>
                    <li class="nav-item me-3 me-lg-0">
                        <a class="nav-link" href="https://www.facebook.com/Care-Pro-Staffing-LLC-109036528480074" target="_blank">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </li>
                    <li class="nav-item me-3 me-lg-0">
                        <a class="nav-link" href="mailto:antoinef@careprostaffingllc.com">
                            <i class="far fa-envelope"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar -->

</header>