<div data-mdb-toggle="animation"
     data-mdb-animation-start="onLoad"
     data-mdb-animation="fade-in-left"
     class="text-center container-fluid intro-space">
    <img src="/img/navLogo.png" class="img-fluid" style="height: 30vh;" alt="img" />
    <h1 data-mdb-toggle="animation"
        data-mdb-animation-start="onLoad"
        data-mdb-animation="fade-in-right"
        data-mdb-animation-delay="300"
        class="display-2 fw-bolder mt-3">
        Company Slogan
    </h1>
    <h1 data-mdb-toggle="animation"
        data-mdb-animation-start="onLoad"
        data-mdb-animation="fade-in-up"
        data-mdb-animation-delay="500"
        class="display-6 mt-3">
        <span class="text-decoration-underline opacity-50">
            Lorem Ipsum Dolor Sit Amet
        </span>
    </h1>
</div>

<div>
    <div class="section-block">
        <div class="container">
            <div class="row">
                <div class="col-md m-2">
                    <h1 data-mdb-toggle="animation"
                        data-mdb-animation-start="onScroll"
                        data-mdb-animation="fade-in-left"
                        class="display-6">
                        Title
                    </h1>
                    <h4 data-mdb-toggle="animation"
                        data-mdb-animation-start="onScroll"
                        data-mdb-animation="fade-in-left"
                        data-mdb-animation-delay="300">
                        Section Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </h4>
                    <a href="#!" class="btn btn-magenta w-50 rounded-pill">Inquire</a>
                </div>
                <div class="col-md m-2">
                    <img src="https://media.istockphoto.com/photos/attractive-female-doctor-smiling-looking-at-camera-while-working-with-picture-id1314931024?b=1&k=20&m=1314931024&s=170667a&w=0&h=625QV0kRsnJZaA8tMRK9JfHVz-niF8V-70dJeIVnbyQ="
                         class="img-fluid shadow-lg rounded"
                         data-mdb-toggle="animation"
                         data-mdb-animation-start="onScroll"
                         data-mdb-animation="fade-in-right"
                         data-mdb-animation-delay="500"
                         alt="img" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="intro-bg">
    <div class="container-fluid text-center">
        <h1 data-mdb-toggle="animation"
            data-mdb-animation-start="onScroll"
            data-mdb-animation="fade-in"
            data-mdb-animation-delay="200"
            class="display-4 magenta">
            Our Services
        </h1>
        <div class="row row-cols-xl-6 d-flex mx-auto justify-content-center align-content-center py-1 me-2">
            <div data-mdb-toggle="animation"
                 data-mdb-animation-start="onScroll"
                 data-mdb-animation="fade-in"
                 class="m-3 text-white hover-zoom">
                <h4 class="p-4">Block Title</h4>
                <img src="https://images.unsplash.com/photo-1542884748-2b87b36c6b90?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fG51cnNlc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=400&q=60"
                     class="img-fluid rounded-circle"
                     alt="img" />
                <p class="lead p-4">
                    Health Chex
                </p>
            </div>
            <div data-mdb-toggle="animation"
                 data-mdb-animation-start="onScroll"
                 data-mdb-animation="fade-in"
                 data-mdb-animation-delay="300"
                 class="m-3 text-white hover-zoom">
                <h4 class="p-4">Block Title</h4>
                <img src="https://images.unsplash.com/photo-1542884748-2b87b36c6b90?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fG51cnNlc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=400&q=60"
                     class="img-fluid rounded-circle"
                     alt="img" />
                <p class="lead p-4">
                    @Home Care
                </p>
            </div>
            <div data-mdb-toggle="animation"
                 data-mdb-animation-start="onScroll"
                 data-mdb-animation="fade-in"
                 data-mdb-animation-delay="500"
                 class="m-3 text-white hover-zoom">
                <h4 class="p-4">Block Title</h4>
                <img src="https://images.unsplash.com/photo-1542884748-2b87b36c6b90?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fG51cnNlc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=400&q=60"
                     class="img-fluid rounded-circle"
                     alt="img" />
                <p class="lead p-4">
                    Nurse Staffing
                </p>
            </div>
            <div data-mdb-toggle="animation"
                 data-mdb-animation-start="onScroll"
                 data-mdb-animation="fade-in"
                 data-mdb-animation-delay="700"
                 class="m-3 text-white hover-zoom">
                <h4 class="p-4">Block Title</h4>
                <img src="https://images.unsplash.com/photo-1542884748-2b87b36c6b90?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fG51cnNlc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=400&q=60"
                     class="img-fluid rounded-circle"
                     alt="img" />
                <p class="lead p-4">
                    Complete Care
                </p>
            </div>
        </div>
    </div>

    <%- include('reviews') -%>

    <div class="space container">
        <div class="row text-white">
            <div data-mdb-toggle="animation"
                 data-mdb-animation-start="onScroll"
                 data-mdb-animation="fade-in-left"
                 data-mdb-animation-delay="300"
                 class="col-md m-2">
                <img src="https://media.istockphoto.com/photos/m-here-for-you-picture-id1027587952?b=1&k=20&m=1027587952&s=170667a&w=0&h=sC-Dc0oI51NNYlfWrJx5opPOY1vLwsJczGolJ2d40rg="
                     class="img-fluid rounded"
                     alt="img" />
            </div>
            <div data-mdb-toggle="animation"
                 data-mdb-animation-start="onScroll"
                 data-mdb-animation="fade-in-left"
                 data-mdb-animation-delay="500"
                 class="col-md m-2">
                <%if(loggedIn){ %>
                    <h1 class="display-5">Check Your Schedule</h1>
                <% } %>
                <%if(!loggedIn){ %>
                     <h1 class="display-5">Join Our Team</h1>
                <% } %>
                <p class="lead">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid aut corporis deleniti dolore, fugit hic laboriosam maiores molestias neque nihil officiis.
                </p>
                <%if(loggedIn) { %>
                    <a href="/scheduling" class="btn btn-success w-50 rounded-pill">Scheduling</a>
                <% } %>
                <%if(!loggedIn) { %>
                    <a href="mailto:#!" class="btn btn-success w-50 rounded-pill">Apply2Work</a>
                <% } %>
            </div>
        </div>
    </div>
    <br><br><br>
</div>