<div class="container text-center" style="margin-top: 160px; margin-bottom: 60px;">
    <h1 data-mdb-toggle="animation"
        data-mdb-animation-start="onLoad"
        data-mdb-animation="fade-in-down"
        class="display-4 mb-3">
        Your Experience Matters
    </h1>
    <h2>Your Point Of Contact for Anything....</h2>
    <div class="row">
        <div class="col-md p-2">
            <p class="lead"
                data-mdb-toggle="animation"
                data-mdb-animation-start="onLoad"
                data-mdb-animation="fade-in-left"
                data-mdb-animation-delay="300">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti dicta dignissimos dolorum error eveniet incidunt iste iusto laboriosam nam nemo nostrum nulla, odio quaerat quo repellendus rerum sequi suscipit tempora.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque dolor eaque enim est laboriosam qui quos repellat repellendus vero. Eos eveniet fugit inventore laboriosam mollitia quis ratione repellendus rerum voluptate?
            </p>
        </div>
        <div data-mdb-toggle="animation"
             data-mdb-animation-start="onLoad"
             data-mdb-animation="fade-in-right"
             data-mdb-animation-delay="300"
             class="col-md p-2">
            <img src="https://media.istockphoto.com/photos/business-team-leader-picture-id1268719270?b=1&k=20&m=1268719270&s=170667a&w=0&h=Tz0HWkFwaPW6gM1Mw7azDOggB_BuFyG1PqEdCsUeF8g="
                 class="img-fluid"
                 alt="img" />
        </div>
    </div>
    <div class="row mt-5">
        <div class="col m-2">
            <div class="card">
                <img src="/img/navLogo.png" class="card-img-top" alt="Skyscrapers"/>
                <div class="card-body">
                    <h5 class="card-title">Main Office</h5>
                    <p class="card-text">
                        Office Number
                        <br>
                        <a href="tel:(602)734-5429" class="btn btn-magenta rounded-pill">Office Line</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col m-2">
            <div class="card">
                <img src="/img/navLogo.png" class="card-img-top" alt="Skyscrapers"/>
                <div class="card-body">
                    <h5 class="card-title">Clinical Support</h5>
                    <p class="card-text">
                        Support
                        <br>
                        <a href="mailto:ebonyh@careprostaffingllc.com" class="btn btn-magenta rounded-pill">send email</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col m-2">
            <div class="card">
                <img src="/img/navLogo.png" class="card-img-top" alt="Skyscrapers"/>
                <div class="card-body">
                    <h5 class="card-title">Account MNGR</h5>
                    <p class="card-text">
                        MNGR
                        <br>
                        <a href="mailto:antoinef@careprostaffingllc.com" class="btn btn-magenta rounded-pill">send email</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>