<!DOCTYPE html>
<html lang="en">
<!-- home header -->
<%- include('layouts/header') -%>

<body class="bg-layout">
<!-- Navbar -->
<%- include('layouts/navBar') -%>

<div class="container" style="margin-top: 10px; margin-bottom: 90px;">
    <img src="/img/navLogo.png" class="rounded-circle img-fluid max-logo" alt="logo" />
    <div class="row">
        <h3>Documents Needed....</h3>
        <div class="col-md-12 p-5">
            <ul>
                <li>Current Driver's License</li>
                <li>Resume</li>
                <li>Level one fingerprinting / Clearance Card</li>
                <li>American Heart Association CPR / BLS</li>
                <li>TB Test (within a year)</li>
                <li>Physical (within a year)</li>
                <li>Professional License / certification number</li>
                <li>Copy of Social Security Card</li>
            </ul>
            <br>
            <a href="mailto:bonyh@careprostaffingllc.com" class="btn w-50 btn-success rounded-pill">Email HR</a>
        </div>
    </div>
</div>

<!-- home footer -->
<%- include('layouts/footer') -%>
</body>
<!-- js content -->
<%- include('layouts/scripts') -%>
</html>