<!DOCTYPE html>
<html lang="en">
<!-- home header -->
<%- include('layouts/header') -%>

<body class="bg-layout">
<!-- Navbar -->
<%- include('layouts/navBar') -%>

<div class="container" style="margin-top: 50px; margin-bottom: 90px;">
    <img src="/img/navLogo.png" class="rounded-circle img-fluid max-logo" alt="logo" />
    <div class="row">
        <div class="col-md-12 m-2">
            Please include your driver's license information, headshot, resume, brief description of
            yourself, what shift preference you have, part or full time, and what are you would like to
            work in. Also, for i-9 purposes, we may reach out for more information if we choose to move
            forward with you. <br><br>
            <a href="mailto:bonyh@careprostaffingllc.com" class="btn w-50 btn-success rounded-pill">Email HR</a>
        </div>
    </div>
</div>

<!-- home footer -->
<%- include('layouts/footer') -%>
</body>
<!-- js content -->
<%- include('layouts/scripts') -%>
</html>