<!DOCTYPE html>
<html lang="en">
<!-- home header -->
<%- include('layouts/header') -%>

<body class="bg-layout">
<!-- Navbar -->
<%- include('layouts/navBar') -%>

<div class="container p-4" style="margin-top: 40px; margin-bottom: 60px;">
    <div class="row">
        <div class="col-md m-2"><div class="row">
                <h3>Documents Needed....</h3>
                <ul>
                    <li>Current Driver's License</li>
                    <li>Resume</li>
                    <li>Level one fingerprinting / Clearance Card</li>
                    <li>American Heart Association CPR / BLS</li>
                    <li>TB Test (within a year)</li>
                    <li>Physical (within a year)</li>
                    <li>Professional License / certification number</li>
                    <li>Copy of Social Security Card</li>
                    <li>Photo of you in scrubs (full body and then headshot)</li>
                </ul>
            </div>
        </div>
        <div class="col-md m-2">
            <img src="/img/logo.png" class="img-fluid max" alt="logo" />
            <br>
            <a href="mailto:ebonyh@careprostaffingllc.com" class="btn form-control btn-primary">Email HR</a>
<!--            <form method="post" action="/applicant" enctype="multipart/form-data">-->
<!--                <div class="row mb-3">-->
<!--                    <div class="col-md">-->
<!--                        <input type="text" class="form-control" required name="name" placeholder="Your Full Name">-->
<!--                    </div>-->
<!--                    <div class="col-md">-->
<!--                        <input type="email" class="form-control" required name="email" placeholder="Your Email">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="row mb-3">-->
<!--                    <div class="col-md">-->
<!--                        <input type="text" class="form-control" required name="phone" placeholder="Your Phone">-->
<!--                    </div>-->
<!--                    <div class="col-md">-->
<!--                        <input type="datetime-local" required class="form-control" name="date" placeholder="Date Available">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md">-->
<!--                    <input type="file" multiple required class="form-control" name="file" placeholder="Upload Images" accept="image/*">-->
<!--                </div>-->

<!--                <div class="row mb-3">-->
<!--                    <div class="col-md m-2">-->
<!--                        <label for="preference" class="form-label">Work Preference</label>-->
<!--                        <select name="preference" class="form-control" id="preference">-->
<!--                            <option value="Any Work Type" selected>Any Work Type</option>-->
<!--                            <option value="Rehab/LTC">Rehab/LTC</option>-->
<!--                            <option value="SNF">SNF</option>-->
<!--                            <option value="Assisted Living">Assisted Living</option>-->
<!--                            <option value="Travel Nurse">Travel Nurse</option>-->
<!--                            <option value="Hospital">Hospital</option>-->
<!--                            <option value="Home Health">Home Health</option>-->
<!--                            <option value="Group Health">Group Health</option>-->
<!--                        </select>-->
<!--                    </div>-->
<!--                    <div class="col-md m-2">-->
<!--                        <div class="md-form">-->
<!--                            <label for="hours">Shift Preference</label>-->
<!--                            <select name="hours" class="form-control" id="hours">-->
<!--                                <option value="Any Hours" selected>Any Hours</option>-->
<!--                                <option value="6am-3pm">Days</option>-->
<!--                                <option value="7am-4pm">Evening</option>-->
<!--                                <option value="8am-5pm">NOC</option>-->
<!--                                <option value="any shift">Any Shift</option>-->
<!--                                <option value="on call">On Call</option>-->
<!--                            </select>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <textarea name="message" id="message" class="form-control mb-3" rows="5" spellcheck="true" maxlength="455" required></textarea>-->
<!--                <button class="btn btn-primary form-control" type="submit">submit application</button>-->
<!--            </form>-->
        </div>
    </div>
</div>

<!-- home footer -->
<%- include('layouts/footer') -%>
</body>
<!-- js content -->
<%- include('layouts/scripts') -%>
</html>