<!DOCTYPE html>
<html lang="en">
<!-- home header -->
<%- include('layouts/header') -%>

<body class="bg-layout">
<!-- Navbar -->
<%- include('layouts/navBar') -%>

<div class="container text-center p-4" style="margin-top: 60px; margin-bottom: 60px;">

<h1 class="display-1 magenta" style="font-family: 'Beau Rivage', cursive;">
    Time Card Verification
</h1>

<p class="lead mt-4 mb-5 text-white">
    In this messaging area, please include an image of the time card for the healthcare professional that was sent there if applicable. Also, your description
    of the healthcare professional that was staffed at your location, and don't forget to sign it please.
</p>

<a href="mailto:#!" class="btn w-50 btn-magenta rounded-pill">e-mail us</a>

</div>

<!-- home footer -->
<%- include('layouts/footer') -%>
</body>
<!-- js content -->
<%- include('layouts/scripts') -%>
</html>