<!DOCTYPE html>
<html lang="en">
<!-- home header -->
<%- include('layouts/header') -%>

<body class="bg-layout">
<!-- Navbar -->
<%- include('layouts/navBar') -%>

<div class="container text-center p-4" style="margin-top: 60px; margin-bottom: 60px;">

<h1 class="display-1 magenta" style="font-family: 'Beau Rivage', cursive;">
    Time Card Verification
</h1>

<p class="lead mt-4 mb-5 text-white">
    In this messaging area please include an <i>image</i> of the <i>time card</i> for the
    healthcare professional working for your facility. The <i>time card</i> should be filled
    out <b>completely</b> and <i>must</i> have a facility <i>supervisor</i> or nurse print their
    first and last name, job title and signature for <highlight>verification approval</highlight>.
    <br><br>
    Failing to do so <b>will</b> result in <i>delayed</i> payment for contractor, pending proper
    verification. For any questions or concerns regarding time card submission or verification process,
    please contact the account manager.
</p>

<a href="mailto:antonief@careprostaffingllc.com" class="btn w-50 btn-magenta rounded-pill">e-mail us</a>

</div>

<!-- home footer -->
<%- include('layouts/footer') -%>
</body>
<!-- js content -->
<%- include('layouts/scripts') -%>
</html>