.navbar-light .navbar-nav .nav-link {
    color: #000;
}
/**********************************************************/

.magenta {
    color: #CA1F7B!important;
}

.btn-magenta {
    background-color: #CA1F7B!important;
    color: white;
}

.intro-space {
    margin-top: 180px;
    margin-bottom: 180px;
}

.section-space {
    margin-top: 370px;
    margin-bottom: 90px;
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

.section-block {
    background-image: linear-gradient(to bottom, #32CD32, #000000);

    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    color: white;
}

.intro-bg {
    padding-top: 40px;
    background-color: #000000;
}

.space {
    margin-top: 70px;
    margin-bottom: 30px;
}
.green-logo {
    width: 155px;
    height: 90px;
    border-radius: 50%;
    text-align: center;
    color: white;
    position: absolute;
    top: 825px;
    left: 45%;
    right: 45%;
    border: 1px solid #E6E6FA;
    background-color: #E6E6FA;
}

.max-img {
    width: 70%;
    height: 80px;
}

@media(max-width:790px){
    .green-logo {
        width: 155px;
        height: 90px;
        border-radius: 50%;
        text-align: center;
        color: white;
        padding-top: 15px;
        position: absolute;
        top: 705px;
        left: 43%;
        right: 43%;
        border: 1px solid #E6E6FA;
        background-color: #E6E6FA;
    }
}

@media(max-width:685px){
    .green-logo {
        width: 155px;
        height: 90px;
        border-radius: 50%;
        text-align: center;
        color: white;
        padding-top: 15px;
        position: absolute;
        top: 705px;
        left: 40%;
        right: 40%;
        border: 1px solid #E6E6FA;
        background-color: #E6E6FA;
    }
}

@media(max-width:545px){
    .green-logo {
        width: 155px;
        height: 90px;
        border-radius: 50%;
        text-align: center;
        color: white;
        padding-top: 15px;
        position: absolute;
        top: 705px;
        left: 37%;
        right: 37%;
        border: 1px solid #E6E6FA;
        background-color: #E6E6FA;
    }
}

@media(max-width:430px){
    .green-logo {
        width: 155px;
        height: 90px;
        border-radius: 50%;
        text-align: center;
        color: white;
        padding-top: 15px;
        position: absolute;
        top: 705px;
        left: 34%;
        right: 34%;
        border: 1px solid #E6E6FA;
        background-color: #E6E6FA;
    }
}

@media(max-width:380px){
    .green-logo {
        width: 155px;
        height: 90px;
        border-radius: 50%;
        text-align: center;
        color: white;
        padding-top: 15px;
        position: absolute;
        top: 705px;
        left: 32%;
        right: 32%;
        border: 1px solid #E6E6FA;
        background-color: #E6E6FA;
    }
}

@media(max-width:343px){
    .green-logo {
        width: 155px;
        height: 90px;
        border-radius: 50%;
        text-align: center;
        color: white;
        padding-top: 15px;
        position: absolute;
        top: 705px;
        left: 30%;
        right: 30%;
        border: 1px solid #E6E6FA;
        background-color: #E6E6FA;
    }
}

@media(max-width:320px){
    .green-logo {
        width: 155px;
        height: 90px;
        border-radius: 50%;
        text-align: center;
        color: white;
        padding-top: 15px;
        position: absolute;
        top: 705px;
        left: 26%;
        right: 26%;
        border: 1px solid #E6E6FA;
        background-color: #E6E6FA;
    }
}

@media(max-width:287px){
    .green-logo {
        width: 155px;
        height: 90px;
        border-radius: 50%;
        text-align: center;
        color: white;
        padding-top: 15px;
        position: absolute;
        top: 705px;
        left: 23%;
        right: 23%;
        border: 1px solid #E6E6FA;
        background-color: #E6E6FA;
    }
}

.section {
    background-color: #E6E6FA;
    padding-top: 60px;
    padding-bottom: 60px;
    color: white;
    color: #CA1F7B;
}

.block {
    background-color: black;
    opacity: 0.5;
    height: 40px;
    width: 100%;
}

.bg-image-1 {
    max-height: 250px!important;
    width: 100%!important;
}

.section-2 {
    background: url(https://media.istockphoto.com/photos/abstract-blurred-interior-of-corridor-clinic-background-in-blue-color-picture-id1177913680?k=20&m=1177913680&s=612x612&w=0&h=ue3kS1AVjHR6YPDu5CScEPKJ8_vJ-tYZY_wC9RT9YZU=)
    no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 60px;
    color: #CA1F7B;
}

.section-3 {
    background: url(https://images.unsplash.com/photo-1603807008857-ad66b70431aa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80)
    no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 110px;
    padding-bottom: 110px;
    color: #CA1F7B;
}